* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #e1e1e1;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 22px;
    color: white;
    background-color: #021526;
}

.logo img {
    height: 50px;
}

.hamburger-icon {
    border: none;
    background-color: transparent;
    display: none;
}

.hamburger-icon .fa-bars,
.hamburger-icon .fa-x {
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.hamburger-icon input[type="checkbox"] {
    appearance: none;
}

.navul {
    display: flex;
    gap: 1rem;
}

.navul li {
    color: white;
    font-size: 20px;
}

.navul li:hover {
    color: #3e90f5;
}

.navul li a:active {
    color: red;
    font-weight: bolds;
}

.navright {
    display: flex;
    gap: 1em;
}

.slogan {
    color: #03346E;
    font-family: "Style Script", cursive;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.bannerimg {
    position: relative;
}

.bannerimg img {
    width: 100%;
}

.bannertitle {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

.bannertitle span {
    text-transform: uppercase;
    display: block;
}

.text1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    position: relative;
    animation: text 3s 1;
}

.text2 {
    font-size: 20px;
    color: white;
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40%;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: 40px;
    }
}

.videosec h3 {
    display: flex;
    justify-content: center;
    color: #884A33;
    margin: 10px;
    font-size: 45px;
    font-family: "Rubik", sans-serif;
    gap: 10px;
}

.text2 {
    font-size: 20px;
    color: white;
}

.slider {
    width: 88%;
    margin: auto;
}

.slide img {
    height: 300px;
    width: 300px;
}

.slide h3 {
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    bottom: 0px;
    background-color: #20181899;
    color: #f5fefe;
}

.slide h3:hover {
    color: #ffd5d5;
    border-bottom: 2px solid #f3caca99;
}

.slide_track {
    display: flex;
    gap: 40px 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slide_track::-webkit-scrollbar {
    display: none;
}

.code {
    float: right;
}

.container {
    width: 85%;
    margin: auto;
}

.container h1 {
    display: flex;
    justify-content: center;
    color: #884A33;
    margin: 10px;
    font-size: 45px;
    font-family: "Rubik", sans-serif;
    gap: 10px;
    cursor: pointer;
}

.container h2 {
    color: #03346E;
    font-size: 43px;
    cursor: pointer;
}

.container p {
    cursor: pointer;
    color: #575C74;
    font-size: 20px;
    text-align: justify;
    line-height: 24px;
    font-family: "League Spartan", sans-serif;
}

.abtus {
    display: flex;
    margin-bottom: 4em;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.intropara {
    display: flex;
    flex-direction: column;
    margin: 3em;
    gap: 1em;
}

.abtus img {
    height: 700px;
    border-radius: 6%;
}

.abouticon {
    display: flex;
    gap: 3em;
    margin-bottom: 4em;
    justify-content: center;
}

.iconbg {
    gap: 13px;
    display: flex;
    flex-direction: row;
}

.iconbg img {
    height: 40px;
}

i#fouricon {
    font-size: 31px;
    color: black;
    padding: 10px;
    border-radius: 44%;
    background-color: #ababab6b;
}

.chooseus {
    display: flex;
}

.chooseus img {
    height: 455px;
    border-radius: 6%;
}

.chooseus h2 {
    color: #03346E;
}

.log-content i {
    background-color: #100d0dd1;
    border-radius: 50%;
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconz {
    color: white;
}

#iconz:hover {
    color: rgb(183, 179, 179);
}

.parallax {
    /* The image used */
background-image: url(tannery.webp);
    /* Full height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
background-image: url(tanning.jpg);
    /* Full height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 4em;
    padding: 4em;
    width: 90%;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4em;
    margin: auto;
}

.main h1 {
    color: #03346E;
    ;
}

.audit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    align-content: center;
    margin: auto;
}

.bgdecor {
    width: 10%;
    height: 15%;
    background-color: rgb(147, 208, 210);
    position: absolute;
    top: 0;
    right: 0;
    border-end-start-radius: 20em;
    border-radius: 10em;
}

.main h1 {
    text-align: center;
    font-size: 40px;
}

.log-content h2 {
    color: #575C74;
    font-size: 25px;
    margin-top: 10px;
}

.shoe img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

.sample {
    position: relative;
    margin-top: 5em;
}

.sample img {
    width: 100%;
    height: 300px;
}

.samplecontent {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}

.samplecontent p {
    font-size: 28px;
}

.samplecontent button {
    font-size: 15px;
    color: white;
    padding: 13px;
    background-color: #03346E;
    border: none;
    cursor: pointer;
}

.whatsapp {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 10px;
    border-radius: 50%;
}

.whatsapp img {
    width: 45px;
    border-radius: 50%;
}

.footer {
    display: flex;
    height: 275px;
    justify-content: center;
    gap: 3em;
    margin: auto;
    padding: 10px;
    padding-top: 3em;
    padding-bottom: 16em;
    background-color: #324d6624;
}

.footer li {
    color: black;
    line-height: 43px;
}

.footer li:hover {
    color: #03346E;
}

.footer h5 {
    line-height: 43px;
}

.connect h4 {
    line-height: 43px;
}

.f-contact {
    width: 45%;
    line-height: 2;
}

.connect {
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Media Queries */

/* 360px - 575px */
@media (min-width:300px) and (max-width: 575px) {
    .logo img {
        height: 40px;
    }

    .logo {
        order: 1;
    }

    .navul {
        order: 3;
        width: 100%;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 0.7rem;
        height: 0;
        overflow: hidden;
        padding: 0;
    }

    .hamburger-icon {
        border: none;
        background-color: transparent;
        display: block;
    }

    .ham-icon {
        display: block;
        order: 2;
    }

    i.fa-solid.fa-x {
        display: none;
    }

    .hamburger-icon .fa-bars,
    .hamburger-icon .fa-x {
        color: white;
        font-size: 28px;
        cursor: pointer;
    }

    .nav:has(input[type="checkbox"]:checked) .navul {
        margin-top: 1rem;
        height: 270px;
    }

    .nav:has(input[type="checkbox"]:checked) .fa-bars {
        display: none;
    }

    .nav:has(input[type="checkbox"]:checked) .fa-x {
        display: inline-block;
    }

    .navright {
        display: none;
        order: 2;
    }

    .slogan {
        font-size: 1.5em;
    }

    @keyframes text {
        0% {
            color: black;
            margin-bottom: -40%;
        }

        30% {
            color: gray;
            letter-spacing: 11px;
            margin-bottom: -40px;
        }

        85% {
            letter-spacing: 8px;
            margin-bottom: 40px;
        }
    }

    .bannertitle .text1 {
        font-size: 13px;
    }

    .bannertitle .text2 {
        font-size: 10px;
    }

    .bannerimg img {
        height: auto;
    }

    .bannerimg {
        height: auto;
    }

    .videosec h3 {
        font-size: 1.5em;
    }

    .container {
        gap: 1em;
    }

    .container h1,
    .container h2,
    .container p {
        text-align: center;
        font-size: 28px;
    }

    .container h2 {
        font-size: 24px;
    }

    .container p {
        font-size: 20px;
    }

    .abtus {
        flex-direction: column;
        align-items: center;
    }

    .intropara {
        margin: 1em;
    }

    .abtus img {
        height: 350px;
        border-radius: 50px;
    }

    .abouticon {
        flex-direction: column;
        gap: 3em;
    }

    .log-content h2 {
        font-size: 21px;
    }

    .wrapper {
        flex-direction: column;
        padding: 2em;
    }

    .audit {
        gap: 4em;
    }

    .shoe img {
        max-width: 100%;
        height: 27em;
        border-radius: 50px;
    }

    .sample img {
        height: 8em;
    }

    .samplecontent p {
        font-size: 13px;
        text-align: center;
    }

    .samplecontent button {
        font-size: 10px;
        padding: 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0;
        gap: 1em;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .footer li {
        line-height: 32px;
    }

    .footer .links,
    .footer .mid-links,
    .footer .f-contact,
    .footer .connect {
        width: 100%;
        text-align: center;
    }

    .footer .f-contact p {
        text-align: center;
        width: 98%;
    }
}

/* 576px - 768px */
@media (min-width: 576px) and (max-width: 768px) {
    .logo img {
        height: 40px;
    }

    .bannerimg img {
        height: auto;
    }

    .bannerimg {
        height: auto;
    }

    @keyframes text {
        0% {
            color: black;
            margin-bottom: -40%;
        }

        30% {
            color: rgb(86, 82, 82);
            letter-spacing: 14px;
            margin-bottom: -40px;
        }

        85% {
            letter-spacing: 4px;
            margin-bottom: 40px;
            font-size: 24px;
        }
    }

    .bannertitle .text1 {
        font-size: 32px;
        letter-spacing: 4px;
    }

    .videosec h3 {
        font-size: 1.5em;
    }

    .container h1,
    .container h2,
    .container p {
        text-align: center;
    }

    .container p {
        font-size: 29px;
        line-height: 1em;
    }

    .abtus {
        flex-direction: column;
        align-items: center;
    }

    .intropara {
        margin: 1em;
    }

    .abtus img {
        height: 36em;
        width: 60%;

    }

    .abouticon {
        flex-direction: column;
        gap: 1em;
    }

    .wrapper {
        flex-direction: column;
        padding: 1em;
    }

    .sample img {
        height: 190px;

    }

    .shoe img {
        display: flex;
        margin: auto;
    }

    .samplecontent p {
        font-size: 20px;
        text-align: center;
    }


    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 2em;
        gap: 0;
    }

    .footer .links,
    .footer .mid-links,
    .footer .f-contact,
    .footer .connect {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }

    .footer .f-contact p {
        text-align: center;
        padding: 0em 4em;
    }
}

/* 769px - 991px */
@media (min-width: 769px) and (max-width: 991px) {
    .nav {
        gap: 1em;
    }

    .logo img {
        height: 45px;
    }

    .navul {
        gap: 0.75rem;
    }

    .navright img {
        height: 20px;
    }

    .slogan {
        font-size: 1.5em;
    }

    .bannerimg img {
        height: auto;
    }

    .bannerimg {
        height: auto;
    }

    @keyframes text {
        0% {
            color: black;
            margin-bottom: -40%;
        }

        30% {
            color: rgb(86, 82, 82);
            letter-spacing: 14px;
            margin-bottom: -40px;
        }

        85% {
            letter-spacing: 4px;
            margin-bottom: 40px;
            font-size: 24px;
        }
    }

    .bannertitle .text1 {
        font-size: 42px;
    }

    .videosec h3 {
        font-size: 2em;
    }

    .container h1,
    .container h2,
    .container p {
        text-align: center;
    }

    .container p {
        font-size: 1.7em;
        line-height: 31px;
    }

    .abtus {
        flex-direction: column;
        align-items: center;
    }

    .intropara {
        margin: 2em;
    }

    .abtus img {
        height: 470px;
    }

    .abouticon {
        flex-direction: column;
        gap: 2em;
    }

    .wrapper {
        flex-direction: column;
        padding: 2em;
    }

    .shoe img {
        display: flex;
        margin: auto;
    }

    .log-content h2 {
        font-size: 28px;
    }

    .sample img {
        height: 15em;
    }

    .samplecontent p {
        font-size: 22px;
        text-align: center;
    }


    .footer {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        padding-bottom: 2em;
        align-items: center;
    }

    .footer .links,
    .footer .mid-links,
    .footer .f-contact,
    .footer .connect {
        text-align: center;
        margin-bottom: 1em;
    }

    .links {
        width: 116px;
    }

    .footer .f-contact p {
        text-align: center;
    }

    .socialmedia {
        display: flex;
        flex-direction: column;
    }
}

/* 992px - 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    .logo img {
        height: 50px;
    }

    .navul {
        gap: 1rem;
    }

    .navright img {
        height: 25px;
    }

    .slogan {
        font-size: 2em;
    }

    .bannerimg img {
        height: auto;
    }

    .bannerimg {
        height: auto;
    }

    .videosec h3 {
        font-size: 2.5em;
    }

    .container {
        padding: 2em;
    }

    .container h1,
    .container h2,
    .container p {
        text-align: center;
    }

    .container h2 {
        font-size: 4em;
    }

    .container p {
        font-size: 2em;
        line-height: 1.2em;
    }

    .abtus {
        flex-direction: column;
        align-items: center;
    }

    .intropara {
        margin: 3em;
    }

    .abtus img {
        height: 700px;
        border-radius: 12%;
    }

    .abouticon {
        flex-direction: column;
        gap: 2em;
    }

    .wrapper {
        padding: 3em;
    }

    .shoe img {
        width: 100%;
        height: 100%;

    }

    .audit {
        gap: 9em;
    }

    .sample img {
        height: auto;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer .f-contact,
    .footer .links,
    .footer .mid-links,
    .footer .connect {
        width: 100%;
        text-align: center;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        padding-bottom: 2em;
    }

    .footer .links,
    .footer .mid-links,
    .footer .f-contact,
    .footer .connect {
        width: 45%;
        text-align: center;
        margin-bottom: 1em;
    }

    .footer .f-contact p {
        text-align: center;
    }
}